/* 모바일 화면 */

.naver {
  text-align: center;
  display: block;

  .logo {
    inline-size: 14.375rem;
    height: 8.75rem;
    margin-top: 3.125rem;
  }
}

@media (max-width: 767px) {
  .login {
    --font: 0.875rem;
    --font-color: #121212;
    --margin: 1.25rem;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;

    .email {
      width: 100%;

      input {
        width: inherit;
        font-size: var(--font);
        color: var(--font-color);
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        height: 2.8125rem;
        box-sizing: border-box;

        &:focus {
          background: #e9f0fd;
          border-color: #03cf5d; /*적용안됨*/
        }
      }

      label {
        visibility: hidden;
      }
    }

    .password {
      width: 100%;

      input {
        width: inherit;
        font-size: var(--font);
        color: var(--font-color);
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        height: 2.8125rem;
        box-sizing: border-box;

        &:focus {
          border-color: #03cf5d;
          background: #e9f0fd;
        }
      }

      label {
        visibility: hidden;
      }
    }
  }
}

/*데스크탑 화면*/

@media (min-width: 767px) {
  .login {
    --font: 0.875rem;
    --font-color: #121212;
    --margin: 1.25rem;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;

    .email {
      width: 100%;

      input {
        width: inherit;
        font-size: var(--font);
        color: var(--font-color);
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        height: 2.8125rem;
        box-sizing: border-box;

        &:focus {
          background: #e9f0fd;
          border: #03cf5d; /*적용안됨*/
        }
      }

      label {
        visibility: hidden;
      }
    }

    .password {
      width: 100%;

      input {
        width: inherit;
        font-size: var(--font);
        color: var(--font-color);
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        height: 2.8125rem;
        box-sizing: border-box;

        &:focus {
          border-color: #03cf5d;
          background: #e9f0fd;
        }
      }

      label {
        visibility: hidden;
      }
    }
  }
}

.login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.8125rem;
  margin-top: 1.25rem;
  color: #fff;
  background: #03cf5d;
  font-size: 1rem;

  a {
    text-decoration: none;
  }

  a:visited {
    color: currentColor;
  }
}

.footer {
  display: flex;
  flex-wrap: wrap;
  @media (max-width: 767px) {
    justify-content: right;
    margin-top: 0.625rem;

    svg {
      margin-right: 0.3125rem;
    }

    a {
      display: none;
    }
  }

  @media (min-width: 767px) {
    align-content: space-between;
    margin-top: 0.625rem;

    svg {
      margin-right: 0.3125rem;
    }

    a {
      text-decoration: none;
      color: #121212;
    }
  }
}
